<a href="https://colab.research.google.com/github/geovanemelo/data-science/blob/main/C%C3%B3pia_de_Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#importando arquivo csv p/ pandas
df = pd.read_csv("https://raw.githubusercontent.com/geovanemelo/data-science/main/Meus%20notebooks/Estudos/datasets/VALE3.SA.csv?token=AL6LDFFSAEWMVXCJUKCZ6VLAEPU5O")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       248 non-null    object
 1   Open       247 non-null    float64
 2   High       247 non-null    float64
 3   Low        247 non-null    float64
 4   Close      247 non-null    float64
 5   Adj Close  247 non-null    float64
 6   Volume     247 non-null    float64
dtypes: float64(6), object(1)
memory usage: 13.7+ KB

Vamos alterar o tipo da coluna Date, de object para datetime

In [ ]:
df.Date

0      2020-02-10
1      2020-02-11
2      2020-02-12
3      2020-02-13
4      2020-02-14
          ...
243    2021-02-04
244    2021-02-05
245    2021-02-08
246    2021-02-09
247    2021-02-10
Name: Date, Length: 248, dtype: object

In [ ]:
#convertendo p/ datatime
df.Date = pd.to_datetime(df.Date, format="%Y-%m-%d")

In [ ]:
df.Date

0     2020-02-10
1     2020-02-11
2     2020-02-12
3     2020-02-13
4     2020-02-14
         ...
243   2021-02-04
244   2021-02-05
245   2021-02-08
246   2021-02-09
247   2021-02-10
Name: Date, Length: 248, dtype: datetime64[ns]

Agora é possivel acessar individualmente os compontes das datas com o: `df.Date.dt`

In [ ]:
print("Ano: ") #podendo ser mes(month),dia(day) ou qualquer outro componente que esteja na data
df.Date.dt.year

Ano:

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
243    2021
244    2021
245    2021
246    2021
247    2021
Name: Date, Length: 248, dtype: int64

No entanto, há vários formatos que um usuário pode lançar como sendo datas. Você pode encontrar exemplos como:

31/06/15
31/06/2015
31-6-15
2015-6-31
31 de junho de 2015