In [1]:
import pandas as pd
import numpy as np

In [2]:
#Niveis de indice
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [4]:
outside = ['G1','G1','G1','G2','G2','G2']

In [5]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [6]:
inside

[1, 2, 3, 1, 2, 3]

In [7]:
hier_index = list(zip(outside,inside))

In [8]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [9]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [10]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [15]:
df = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns=['a','b'])

In [16]:
df

             a         b
G1 1  0.560128 -0.393278
   2 -0.095169 -2.056720
   3  0.893023  0.275701
G2 1 -0.511060 -1.590768
   2 -1.207225 -0.135598
   3 -0.511871 -0.299806

In [17]:
df.loc['G1']

          a         b
1  0.560128 -0.393278
2 -0.095169 -2.056720
3  0.893023  0.275701

In [18]:
df.index.names

FrozenList([None, None])

In [19]:
df.index.names = ['Grupo','Numero']

In [20]:
df

                     a         b
Grupo Numero
G1    1       0.560128 -0.393278
      2      -0.095169 -2.056720
      3       0.893023  0.275701
G2    1      -0.511060 -1.590768
      2      -1.207225 -0.135598
      3      -0.511871 -0.299806

In [22]:
df.xs('G1')

               a         b
Numero
1       0.560128 -0.393278
2      -0.095169 -2.056720
3       0.893023  0.275701