In [2]:
import pandas as pd
import numpy as np

In [3]:
np.random.seed(1001) # os nuemros aleatorios serao iguais em todas maquinas

In [8]:
df = pd.DataFrame(np.random.randn(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())

In [9]:
df

          W         X         Y         Z
A  0.588402 -1.433299 -0.323575  1.252985
B -0.730743  1.428485  0.944654 -0.264003
C -0.163213 -0.964107 -0.342647  0.048904
D -0.499632 -2.211905  0.309837 -1.589651
E  0.729455 -0.107901 -0.650171 -1.693057

In [11]:
df['W']

A    0.588402
B   -0.730743
C   -0.163213
D   -0.499632
E    0.729455
Name: W, dtype: float64

In [12]:
df[['W', 'Z']]

          W         Z
A  0.588402  1.252985
B -0.730743 -0.264003
C -0.163213  0.048904
D -0.499632 -1.589651
E  0.729455 -1.693057

In [14]:
df.W

A    0.588402
B   -0.730743
C   -0.163213
D   -0.499632
E    0.729455
Name: W, dtype: float64

In [15]:
df['new'] = df ['W'] + df ['X'] #Adicionado

In [16]:
df

          W         X         Y         Z       new
A  0.588402 -1.433299 -0.323575  1.252985 -0.844897
B -0.730743  1.428485  0.944654 -0.264003  0.697742
C -0.163213 -0.964107 -0.342647  0.048904 -1.127321
D -0.499632 -2.211905  0.309837 -1.589651 -2.711536
E  0.729455 -0.107901 -0.650171 -1.693057  0.621553

In [18]:
df.drop('new', axis=1,inplace=True) #apagando

In [20]:
df

          W         X         Y         Z
A  0.588402 -1.433299 -0.323575  1.252985
B -0.730743  1.428485  0.944654 -0.264003
C -0.163213 -0.964107 -0.342647  0.048904
D -0.499632 -2.211905  0.309837 -1.589651
E  0.729455 -0.107901 -0.650171 -1.693057

In [21]:
df.loc['A','W'] #1 forma de seleção

0.5884017557567635

In [22]:
df.loc[['A','B'], ['X','Y','Z']]

          X         Y         Z
A -1.433299 -0.323575  1.252985
B  1.428485  0.944654 -0.264003

In [24]:
df.iloc[0:3,2:]#2 forma de seleçao baseado no indice

          Y         Z
A -0.323575  1.252985
B  0.944654 -0.264003
C -0.342647  0.048904