
**Empresa House Rocket**

*os dados e informações desse estudo são ficticios. Tudo apresentado nesse notebook é de cunho estudantil*

(em andamento)


--------------------------------------------------------------------------------


# 1.0. Problema de negócio

* **O que a empresa faz?**

A House Rocket é uma plataforma de compras e venda de imóveis.


* **Qual o problema?**

O CEO da empresa gostaria de maximizar o lucro da empresa encontrando bons negócios.

* **Qual a principal estrategia?**

Fontes externas para enconstrar bons negócios.

* **As perguntas do CEO:**

1. Quantas casas estão disponiveis para compra?

2. Quantos atributos as casas possuem? (nº de quartos, garagens, banheiros)

3. Quais são os atributos?

4. Qual a casa mais cara do portfólio? (casa com maior valor)

5. Qual a casa com o maior número de quartos?

# 2.0. Planejamento da soluçao

* 2.1. **Planejamento do PRODUTO FINAL.**

1. O que eu vou entregar? (Planilha, Texto, Email, Modelos de ML etc).

      Texto com as respostas

2. Como vai ser a entrega?

      Perguntas | Respostas

* 2.2 **Planejamento do PROCESSO.**

1. Onde está a informaçao? (Excel,BD,API)

    https://www.kaggle.com/harlfoxem/housesalesprediction

2. Como coletar essas informaçoes? (SQL, Python,Streamlit)

    Download

3. Responder as perguntas

Quantas casas estão disponiveis para compra?

r: Contar o numero de linhas do conjunto de dados.

Quantos atributos as casas possuem? (nº de quartos, garagens, banheiros)

r: Contar o numero de colunas do conjunto de dados.

Quais são os atributos?

r: Mostrar o nome das colunas.

Qual a casa mais cara do portfólio? (casa com maior valor)

r:Ordenar as linhas pela coluna de preço

Qual a casa com o maior número de quartos?

r: Ordenar o numero de linhas pela coluna de numero de quartos

* 2.3 **Planejamento de FERRAMENTAS**

1. Quais ferreamentas eu posso usar?

- Excel

Pros: Facil de usar; Barato; Muito Usados pelos times não tecnicos.

Contras: Poder de proessamento limitado (1MM)

-Linguagem de programaçao (Python)

In [1]:
import pandas as pd
data = pd.read_csv("datasets/kc_house_data.csv")

In [2]:
#mostre na tela as 5 primeiras linhas do conunto de dados
data.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
#mostre o numero de colunase e linhas do conjunto
data.shape

(21613, 21)

In [4]:
#mostre o nome das colunas do conjunto
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

Mostre o conjunto de dados ordenados pela coluna "price" (do maior para o menor)

In [5]:
data[['id','price']].sort_values('price',ascending=False)

               id      price
7252   6762700020  7700000.0
3914   9808700762  7062500.0
9254   9208900037  6885000.0
4411   2470100110  5570000.0
1448   8907500070  5350000.0
...           ...        ...
8274   3883800011    82000.0
16198  3028200080    81000.0
465    8658300340    80000.0
15293    40000362    78000.0
1149   3421079032    75000.0

[21613 rows x 2 columns]

# RESPONDENDO TODAS PERGUNTAS DO CEO

1- Quantas casas estão disponiveis pra compra?

In [6]:
data.shape
#21613 casas disponiveis

(21613, 21)

2- Quantos atributos as casas possuem?

In [7]:
data.shape
#21 atributos

(21613, 21)

3- Quais são os atributos das casas?

In [9]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

4- Qual a casa mais cara?

In [15]:
data[['id','price']].sort_values(by='price',ascending=False).head(1)

              id      price
7252  6762700020  7700000.0

5- Qual a casa com o maior número de quartos?

In [16]:
data[['id','bedrooms']].sort_values(by='bedrooms',ascending=False).head(1)

               id  bedrooms
15870  2402100895        33

6- Qual a soma total de quartos do conjuntos de dados?

In [17]:
data['bedrooms'].sum()

72854

7- Quantas casas possuem 2 banheiros?

In [32]:
sum(data['bathrooms'] == 2)

1930

8 - Qual o preço médio de todas as casas no conjunto de dados?

In [33]:
data['price'].mean()

540088.1417665294

9 - Qual o preço médio de casas com 2 banheiros?

In [45]:
data.query('bathrooms == 8')['price'].mean()

4990000.0

10 - Qual o preço minimo entre as casas com 3 quartos?

In [54]:
data.query('bedrooms == 3')['price'].min()

82000.0

11- Quantas casas possuem mais de 300 metros quadrados na sala de espera?

In [61]:
sum(data['sqft_living'] >= 300)

21612

12 - Quantas casas tem mais de 2 andares?

In [64]:
sum(data['floors']>2)

782

13 - Quantas casas tem vista para o mar?

In [67]:
sum(data['waterfront'] == 1)

163

14 - Das casas com vista para o mar, quantas tem 3 quartos?

In [87]:
data.query("waterfront == 1 & bedrooms == 3").shape

(64, 21)